ConsoleApplication/Service References/CamadoSer/CamadoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/CamadoService/CamadoService.svc?xsd=xsd2" />
  <xs:element name="GetDevices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDevicesResult" nillable="true" type="ArrayOfDevice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>